/* ================= PANIER ================= */

.cart-item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
}

.cart-item img {
  object-fit: cover;
}

.cart-item button {
  width: 30px;
  height: 30px;
}
