<section class="cart container col-10 my-5">
  <div class="mx-auto d-md-flex justify-content-md-between">
    <h4 class="text-black mt-5 urbanistt">
      Votre Panier
    </h4>
    <app-fild-ariane [horizontal]="true"></app-fild-ariane>
  </div>

  <!-- PANIER VIDE -->
  <div *ngIf="items.length === 0" class="text-muted urbanistt mt-5">
    Votre panier est vide.
  </div>

  <!-- ARTICLES -->
  <div *ngFor="let item of items" class="cart-item d-flex justify-content-between align-items-center mb-3">

    <div class="d-flex align-items-center gap-3">
      <img
        [src]="item.image ? 'assets/images/' + item.image + '.jpg' : 'assets/images/boxe_default.jpg'"
        width="80"
        height="60"
        style="object-fit: cover"
      />

      <div>
        <strong class="urbanistb">{{ item.name }}</strong>
        <div class="text-muted urbanist">{{ item.price }} €</div>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2 varta">
      <button class="btn btn-outline-dark btn-sm" (click)="decrease(item)">−</button>
      <span>{{ item.quantity }}</span>
      <button class="btn btn-outline-dark btn-sm" (click)="increase(item)">+</button>

    </div>

    <div class="urbanist">
      {{ item.price * item.quantity | number:'1.2-2' }} €
    </div>

  </div>

  <hr />

  <!-- TOTAL COMMANDE -->
<section class="order-total">

  <div class="price-line">
    <span>Sous-total</span>
    <span class="urbanist">{{ subtotal | number:'1.2-2' }} €</span>
  </div>

  <div class="price-line">
    <span>Frais de service</span>
    <span class="urbanist">{{ serviceFee | number:'1.2-2' }} €</span>
  </div>

  <hr class="separator" />

  <div class="price-line total">
    <span>Total à payer</span>
    <span class="urbanist">{{ total | number:'1.2-2' }} €</span>
  </div>

  <div class="validate-wrapper">
    <button class="validate-btn">
      Valider la commande
    </button>
  </div>
</section>
</section>

<app-suggestion></app-suggestion>
