<!-- EN DESSOUS LA VERSION A GARDER ET A MODIFIER PAR SEFORA -->
<section class="col-10 mx-auto my-5">
<div class="col-12 text-white">
    <h4 class="mt-5">NOS SUGGESTIONS</h4>
    <hr class="col-8 mb-5" />
    <div class="row justify-content-center mt-5">
      <!-- boxes affichées dynamiquement via l'API -->
      <div class="col-8">
        <div class="row g-4">
          @for (item of boxes; track item.id_box || item.id) {
          <div class="col-6 col-md-4 d-flex">
            <div class="card card-sushi w-100 bg-card border-0 rounded-0" (click)="voirProduit(item.id_box || item.id)">
              <div class="align-self-center">
                <img
                  [src]="item.image ? '../../../assets/images/' + item.image + '.jpg' : '../../../assets/images/boxe_default.jpg'" (error)="onImgError($event)"
                  class="card-img-top object-fit-cover border-0 rounded-0"
                />
              </div>

              <div class="card-body d-flex flex-column">
                <h5 class="text-black fw-semibold mb-2">{{ item.name | uppercase }}</h5>
                <p class="text-purple mb-0">{{ item.pieces }} PIECES</p>
                <h4 class="mb-3">{{ item.price }}€</h4>

                <!-- stopPropagation sinon ça ouvre le produit quand tu cliques sur panier -->
                <button
                  type="button"
                  class="btn btn-outline-dark rounded align-self-end"
                  (click)="$event.stopPropagation(); addPanier(item.id_box || item.id)"
                >
                  <i class="bi bi-cart3"></i>
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
