<section class="suggestions-container">
  <h2 class="suggestions-titre">NOS SUGGESTIONS</h2>
  <div class="divider"></div>

  <div class="suggestions-grid">
    <div class="card-sushi" *ngFor="let item of boxes" (click)="voirProduit(item.id_box || item.id)" style="cursor: pointer;">
      <div class="card-image">
        <img [src]="'../../../assets/images/' + item.image + '.jpg'" [alt]="item.nom">
      </div>
      <div class="card-content">
        <h3 class="card-nom">{{ item.nom }}</h3>
        <p class="card-pieces">{{ item.pieces }} pièces</p>
        <div class="card-footer">
          <span class="card-prix">{{ item.prix }} €</span>
          <button class="btn-icon-panier">
            <i class="bi bi-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>