.img-produit {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.texte {
  width: 100%;
  text-align: center; 
  color: #ffffff;
}

.titre {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

h3 {
  margin: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

p {
  line-height: 1.4;
  margin: 0 0 10px;
}

.btn-panier {
  display: block;
  margin: 20px auto 0 auto; /* centre le bouton */
  padding: 12px 25px;
  font-size: 16px;
  background-color: black;
  border-radius: 30px;
  color: #ffffff;
  border: none; /* supprime le contour gris */
  transition: 0.2s;
}

.btn-panier:hover {
  background-color: rgb(42, 5, 5);
  color: #ffffff;
}