<div class="cookie-popup position-fixed bottom-0 start-50 translate-middle-x 
            mb-3 p-3 p-md-4 bg-dark text-white rounded-3 shadow"
     style="max-width: 420px; width: calc(100% - 1.5rem); z-index: 1050;"
     *ngIf="showPopup">

  <p class="mb-2 urbanistt">
    Nous utilisons des cookies pour améliorer votre expérience
    dans notre restaurant <strong>KIYOMI</strong>.
  </p>

  <p class="small text-light mb-1">
    Ces cookies nous permettent de mémoriser vos préférences,
    d’analyser la fréquentation du site et d’assurer son bon fonctionnement.
    Aucune donnée personnelle n’est vendue ou partagée.
  </p>
  <p class="text-center">
    <a (click)="rgpd()" class="text-white">En savoir plus</a>
  </p>

  <div class="d-flex justify-content-center gap-2 flex-wrap mt-3">
    <button class="btn btn-outline-light btn-sm px-3"
            (click)="refuseCookies()">
      Refuser
    </button>

    <button class="btn btn-outline-light btn-sm px-3"
            (click)="acceptCookies()">
      Accepter
    </button>
  </div>
</div>
