<div class="d-flex flex-wrap justify-content-end align-items-center gap-3 mb-5 w-100">
  <!-- BARRE DE RECHERCHE -->
  <form class="d-flex col-md-4 mt-2 mt-md-0" role="search" (ngSubmit)="search()">
    <input
      class="form-control form-control-sm me-2 bg-transparent text-white border border-white"
      [(ngModel)]="term"
      type="search"
      placeholder="Rechercher"
      aria-label="Search"
      name = "recherche"
    />
    <button class="btn btn-outline-light" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>
