<!-- FILTRE PRIX -->
<select class="form-select"
        [(ngModel)]="filters.price_lt"
        (ngModelChange)="loadBoxes()">
  <option [ngValue]="null">Prix</option>
  <option [ngValue]="15">Moins de 15€</option>
</select>

<select class="form-select mt-2"
        [(ngModel)]="filters.price_gt"
        (ngModelChange)="loadBoxes()">
  <option [ngValue]="null">Prix supérieur</option>
  <option [ngValue]="15">Plus de 15€</option>
</select>

<!-- FILTRE SAVEURS -->
<select class="form-select mt-2"
        [(ngModel)]="filters.flavors"
        (ngModelChange)="loadBoxes()">
  <option [ngValue]="null">Saveurs</option>
  <option [ngValue]="1">One</option>
  <option [ngValue]="2">Two</option>
  <option [ngValue]="3">Three</option>
</select>

<!-- FILTRE INGRÉDIENTS -->
<select class="form-select mt-2"
        [(ngModel)]="filters.foods"
        (ngModelChange)="loadBoxes()">
  <option [ngValue]="null">Ingrédients</option>
  <option [ngValue]="1">California Saumon Avocat</option>
  <option [ngValue]="2">Avocat</option>
</select>

<hr>

<!-- AFFICHAGE DES BOX -->
<div *ngIf="boxes.length === 0">
  Aucun produit trouvé
</div>

<div *ngFor="let box of boxes" class="box">
  <h4>{{ box.name }}</h4>
  <p>{{ box.price }} €</p>
  <p>Saveur : {{ box.flavor }}</p>
</div>
