<div class="row g-3 mb-2">
  <div>
    <div class="input-group d-flex">
      <span class="input-group-text bg-black text-white border-0"><i class="bi bi-currency-euro"></i></span>
      <select (change)="onFilterChange('prix', $event)" class="form-select text-white bg-black border-0">
        <option value="" selected>Prix</option>
        <option value="1">Moins de 15€</option>
        <option value="2">15-20€</option>
        <option value="3">Plus de 20€</option>
      </select>
    </div>
  </div>
</div>

<div class="row g-3 mb-2">
  <div>
    <div class="input-group d-flex">
      <span class="input-group-text bg-black text-white border-0"><i class="bi bi-fork-knife"></i></span>
      <select (change)="onFilterChange('portion', $event)" class="form-select text-white bg-black border-0">
        <option value="" selected>Portion</option>
        <option value="1">Petite (≤ 12 pcs)</option>
        <option value="2">Moyenne (13-20 pcs)</option>
        <option value="3">Familiale (> 20 pcs)</option>
      </select>
    </div>
  </div>
</div>

<div class="row g-3 mb-2">
  <div>
    <div class="input-group d-flex">
      <span class="input-group-text bg-black text-white border-0"><i class="bi bi-funnel-fill"></i></span>
      <select (change)="onFilterChange('saveurs', $event)" class="form-select text-white bg-black border-0">
        <option value="" selected>Saveurs</option>
        <option value="1">1 saveur</option>
        <option value="2">2 saveurs</option>
        <option value="3">3 saveurs</option>
      </select>
    </div>
  </div>
</div>