.forms label {
    position: absolute; 
    color: black; 
    pointer-events: none; 
    transition: .5s;
}

.forms input:focus ~ label, .forms input:valid ~ label {
   left: 0;
   color: black; 
}

::placeholder{
    color: white;
}