<form (ngSubmit)="onSubmit()" style="border: 5px solid black; border-radius: 10px; max-width: 500px; margin: auto; margin-top: 10px; padding: 10px;" class="text-white">
    <img src="assets/images/iconeMenusNav.svg" alt="Icone menus" height="50px" class="mx-auto d-block">

    <div class="form-group">
        <label for="firstname">Prénom :</label>
        <input type="string"
               class="form-control border-white"
               id="firstname"
               [(ngModel)]="firstname"
               name="firstname"
               required
               style="background: none;">
    </div>

    <div class="form-group">
        <label for="lastname">Nom :</label>
        <input type="lastname"
               class="form-control border-white"
               id="lastname"
               [(ngModel)]="lastname"
               name="lastname"
               required
               style="background: none;">
    </div>

    <div class="form-group">
        <label for="email">EMAIL :</label>
        <input type="email"
               class="form-control border-white"
               id="email"
               [(ngModel)]="email"
               name="email"
               required
               style="background: none;">
    </div>

    <!-- <div class="form-check">
  <input class="form-check-input" type="radio" name="etudiant" id="etudiant" value="option1" checked>
  <label class="form-check-label" for="etudiant">
    Etudiant
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="particulier" id="particulier" value="option2">
  <label class="form-check-label" for="particulier">
    Particulier
  </label>
</div> -->

    <div class="form-group mt-3 mb-3">
        <label for="password">MOT DE PASSE :</label>
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="password"
               name="password"
               required
               style="background: none;">
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn border-white text-white" id="co">M'INSCRIRE</button>
    </div>
</form>
