<div class="container">
  <!-- INTRODUCTION AU RESTAURANT KIYOMI -->
  <div class="row mt-5">
    <div class="col-10 mx-auto">
      <div class="row">
        <!-- image restaurant -->
        <img
          src="../../assets/images/mockups_boite_resto.png"
          alt="Image de fond Kiyomi"
          class="col-6"
        />

        <div class="col-6 text-white mt-5 mb-3">
          <h2 class="text-end">RESTAURANT ETOILE</h2>
          <h2 class="text-end">PRIX NANANA</h2>
          <div class="row mt-5">
            <p class="col-10">
              “lorem ipsum dolor sit amet consectetur adipiscing elit dolor sit amet consectetur
              adipiscing elit. lorem ipsum dolor sit amet consectetur adipiscing elit.”
            </p>
            <div class="col-2 bg-white rounded-circle"></div>
          </div>
        </div>
      </div>

      <!-- TITRE RECOMMANDATIONS -->
      <div class="row mt-5 align-items-center text-white">
        <div class="col-4"><hr /></div>
        <p class="fs-5 fst-italic col-4 text-center mb-0">Les Recommandations du Chef</p>
        <div class="col-4"><hr /></div>
      </div>
    </div>
  </div>

  <!-- SECTION LISTE DES MENUS -->
  <div class="row g-3 mb-5 position-relative z-3 mx-5">
    <div class="col-12 text-white">
      <h4 class="mt-5">NOS BOXES PHARES</h4>
      <hr class="col-8" />

      <div class="row">
        <!-- FILTRES -->
        <div class="col-4">
          <div class="row g-3 mb-4">
            <!-- FILTRE PRIX -->
            <div class="col-6">
              <div class="input-group d-flex">
                <span class="input-group-text bg-black text-white border-0">
                  <i class="bi bi-currency-euro"></i>
                </span>
                <select class="form-select text-white bg-black border-0">
                  <option selected>Prix</option>
                  <option value="1">Moins de 15€</option>
                  <option value="2">15-20€</option>
                  <option value="3">Plus de 20€</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row g-3 mb-4">
            <!-- FILTRE FORMAT -->
            <div class="col-6">
              <div class="input-group d-flex">
                <span class="input-group-text bg-black text-white border-0">
                  <i class="bi bi-fork-knife"></i>
                </span>
                <select class="form-select text-white bg-black border-0">
                  <option selected>Portion</option>
                  <option value="1">Petite</option>
                  <option value="2">Moyenne</option>
                  <option value="3">Familiale / à partager</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row g-3 mb-4">
            <!-- FILTRE SAVEURS -->
            <div class="col-6">
              <div class="input-group d-flex">
                <span class="input-group-text bg-black text-white border-0">
                  <i class="bi bi-funnel-fill"></i>
                </span>
                <select class="form-select text-white bg-black border-0">
                  <option selected>Saveurs</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- BOXES -->
        <div class="col-8">
          <div class="row g-4">
            @for (box of boxesToShow; track box.id) {
            <div class="col-6 col-md-4 d-flex">
              <div
                class="card h-100 w-100 bg-card border-0 rounded-0"
                (click)="pageProduit(box.id)"
              >
                <div class="align-self-center">
                  <img
                    src="../../../assets/images/{{ box.image }}.png"
                    class="card-img-top object-fit-cover border-0 rounded-0"
                  />
                </div>

                <div class="card-body d-flex flex-column">
                  <h3 class="text-black fw-semibold mb-4">{{ box.name | uppercase }}</h3>
                  <p class="text-purple mb-0">{{ box.pieces }} PIECES</p>
                  <h4 class="mb-3">{{ box.price }}€</h4>

                  <button
                    type="button"
                    class="btn btn-outline-dark rounded align-self-start"
                    (click)="addPanier(box.id)"
                  >
                    <i class="bi bi-cart3"></i>
                  </button>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BOUTON VOIR PLUS -->
  <div class="row my-5">
    <div class="col text-center">
      <div class="btn btn-danger text-white" (click)="renvoiMenu()">Voir plus</div>
    </div>
  </div>
</div>
