<div class="container">
  <!-- INTRODUCTION AU RESTAURANT KIYOMI -->
  <div class="row mt-5">
    <div class="col-10 mx-auto">
      <div class="row">
        <!-- image restaurant -->
        <img
          src="../../assets/images/mockups_boite_resto.png"
          alt="Image de fond Kiyomi"
          class="col-6"
        />

        <div class="col-6 text-white mt-5 mb-3">
          <h2 class="text-end">RESTAURANT ETOILE</h2>
          <h2 class="text-end">PRIX NANANA</h2>
          <div class="row mt-5">
            <p class="col-10">
              “lorem ipsum dolor sit amet consectetur adipiscing elit dolor sit amet consectetur
              adipiscing elit. lorem ipsum dolor sit amet consectetur adipiscing elit.”
            </p>
            <div class="col-2 bg-white rounded-circle"></div>
          </div>
        </div>
      </div>

      <!-- TITRE RECOMMANDATIONS -->
      <div class="row mt-5 align-items-center text-white">
        <div class="col-4"><hr /></div>
        <p class="fs-5 fst-italic col-4 text-center mb-0">Les Recommandations du Chef</p>
        <div class="col-4"><hr /></div>
      </div>
    </div>
  </div>

  <app-boxes-ensemble></app-boxes-ensemble>
  </div>
