<div class="container text-white col-12">
    <h5 class="text-white fw-normal">RGPD</h5>
    <hr>
    <div class="row">
        <div class="col-2 mt-3">
            <app-fild-ariane></app-fild-ariane>
        </div>

        <div class="col-10 ps-5 mt-3">
        <h3 class="fw-bold">1. Introduction :</h3>
        <p class="mt-2 mb-5">Nous accordons une grande importance à la protection de vos données personnelles.
            Cette page explique comment notre application de prise de commande de sushis, utilise et protège vos informations conformément au Règlement Général sur la Protection des Données (RGPD).</p>

        <h3 class="fw-bold">2. Responsable du traitement :</h3>
        <p class="mb-5">Responsable du traitement : [KIYOMI] <br>
            <span>Adresse : [1 RUE DE PARIS]</span> <br>
            <span>Email de contact : [kiyomi@gmail.com]</span> <br>
            <span>Téléphone : [0606060606]</span>
        </p>

        <h3 class="fw-bold">3. Données collectées :</h3>
        <p class="mb-5">Selon le mode de commande, les données suivantes peuvent être collectées lors de la commande sur notre site internet : 
            Nom, prénom, numéro de téléphone, adresse de livraison et le statut et en commande sur borne : Nom, prénom, e-mail (facultatif), et votre statut.
            Aucune donnée bancaire n’est stockée sur nos serveurs.</p>

        <h3 class="fw-bold">4. Base légale du traitement : </h3>
        <p class="mb-5">Le traitement de vos données repose sur l’exécution d’un contrat (commande passée) et le consentement lorsque des informations facultatives (ex. e-mail pour promotions) sont fournies.</p>

        <h3 class="fw-bold">5. Durée de conservation des données :</h3>
        <p class="mb-5">Les données de commande sont conservées pendant 1 an uniquement à des fins de statistiques internes et d’amélioration du service (par exemple, suivi du volume de commandes, analyse des produits les plus demandés). 
            Ces données ne sont pas utilisées à des fins commerciales ou publicitaires et peuvent être supprimées sur simple demande de votre part.</p>

        <h3 class="fw-bold">6. Partage des donnés : </h3>
        <p class="mb-5">Vos données ne sont jamais vendues ni partagées à des tiers. Seuls les employés habilités (préparateurs, livreurs) y ont accès dans le cadre du service.</p>

        <h3 class="fw-bold">7. Vos droits : </h3>
        <p>conformément au RGPD, vous disposez des droits suivants :</p>
        <ul>
            <li>Droit d'accès à vos données</li>
            <li>Droit de rectification</li>
            <li>Droit à l'effacement ("droit à l'oubli")</li>
            <li>Droit d'opposition au traitement</li>
            <li>Droit à la portabilité des données</li>
        </ul>
        <p class="mb-5">Vous pouvez exercer ces droits en écrivant à [adresse-email RGPD]</p>

        <h3 class="fw-bold">8. Sécurité : </h3>
        <p class="mb-5">Nous mettons en œuvre des mesures techniques et organisationnelles (connexion HTTPS, accès restreint, anonymisation) pour protéger vos données contre tout accès non autorisé.</p>

        <h3 class="fw-bold">9. Cookies et stockage local : </h3>
        <p class="mb-5">L’application n’utilise pas de cookies à des fins publicitaires.
            Des cookies techniques peuvent être utilisés pour enregistrer le panier ou la session utilisateur.</p>

        <h3 class="fw-bold">10. Contact</h3>
        <p class="mb-3">Pour toute question relative à la protection de vos données, vous pouvez contacter : [kiyomi@gmail.com] <br>
        <span>[1 RUE DE PARIS]</span></p>
    </div>
    </div>

</div>