<div class="container col-10 d-md-flex justify-content-md-between">
    <h4 style="font-weight: 300; letter-spacing: 1px;" class="text-black fw-bold mt-5">Mot de passe oublié</h4>
    <app-fild-ariane [horizontal]="true"></app-fild-ariane>
</div>
<form (ngSubmit)="onSubmit()" class="text-black mt-4 px-4 px-md-5 py-4 mb-5 mx-3 mx-md-auto"
  style="
        max-width: 600px;
        margin: auto;
        backdrop-filter: blur(8px);
      ">
      <div class="text-center mb-5">
        <img src="assets/images/iconeMenusNav.svg"
             alt="Icone menus"
             height="55px"
             class="mb-2">
    </div>
  <p>Entrez votre email pour recevoir un lien de réinitialisation.</p>

  <input type="email" [(ngModel)]="email" name="email" required class="form-control text-black mt-2" 
  style="background: transparent;
        border: none;
        position: relative;
        border-bottom: 1px solid black;
        outline: none;">
      
      <div class="d-flex justify-content-center">
        <button type="submit"
                class="btn btn-dark rounded-0 px-4 py-2 mt-3 w-50 w-md-auto">
            Envoyer le lien
        </button>
    </div>

</form>

<!-- Popup succès -->
<div *ngIf="showSuccessPopup" 
     class="position-fixed top-50 start-50 translate-middle bg-white text-dark p-4 rounded shadow" 
     style="min-width: 250px; z-index: 1050; text-align: center;">
  <h4>Email envoyé</h4>
  <p>{{ successMessage }}</p>
  <button class="btn btn-success mt-3" (click)="showSuccessPopup = false">OK</button>
</div>

<!-- Popup erreur -->
<div *ngIf="showErrorPopup" 
     class="position-fixed top-50 start-50 translate-middle bg-white text-dark p-4 rounded shadow" 
     style="min-width: 250px; z-index: 1050; text-align: center;">
  <h4>Erreur</h4>
  <p>{{ errorMessage }}</p>
  <button class="btn btn-danger mt-3" (click)="showErrorPopup = false">Fermer</button>
</div>


