<div class="container text-white col-12">
    <h5 class="text-white fw-normal">Mentions légales</h5>
    <hr>
    <div class="row">
        <div class="col-2 mt-3">
            <app-fild-ariane></app-fild-ariane>
        </div>
        <div class="col-10 ps-5 mt-3">

        <h3 class="fw-bold">1. Édition du site :</h3>

        <p class="mt-2">
            Le site web <strong>Kiyomi</strong> est édité par :
        </p>

        <p class="mt-3">
            <strong>Amel Gilet</strong><br>
            <strong>Diaba Samoura</strong><br>
            <strong>Laura Lebreton</strong><br>
            <strong>Nelly Grace Polydor</strong><br>
            <strong>Sefora Admi</strong>
        </p>

        <p class="mt-3 mb-5">
            Étudiantes en <strong>BUT Métiers du Multimédia et de l’Internet (MMI)</strong><br>
            Projet réalisé dans un cadre pédagogique.
        </p>

        <h3 class="fw-bold">2. Hébergement :</h3>

        <p>
            Le site Kiyomi est hébergé localement à des fins pédagogiques.
        </p>

        <p class="mb-5">
            Hébergement de développement via environnement local (serveur Apache / PHP / MySQL).
        </p>

        <h3 class="fw-bold">3. Objet du site :</h3>

        <p>
            <strong>Kiyomi</strong> est un site web permettant de commander des sushis et autres spécialités japonaises en ligne.
        </p>

        <p>
            Le site propose la consultation d’un menu, la création d’un compte utilisateur, ainsi que la possibilité de passer des commandes.
        </p>

        <p class="mb-5">
            Kiyomi est un projet réalisé dans le cadre d’un travail universitaire et n’a pas de vocation commerciale réelle.
        </p>

        <h3 class="fw-bold">4. Propriété intellectuelle :</h3>

        <p>
            L’ensemble des contenus présents sur le site Kiyomi (textes, visuels, logo, interface, code source) sont protégés par le droit d’auteur.
        </p>

        <p>
            Toute reproduction, représentation ou utilisation sans autorisation est interdite, sauf dans un cadre strictement pédagogique.
        </p>

        <p class="mb-5">
            Les images et visuels utilisés le sont à des fins éducatives et démonstratives.
        </p>

        <h3 class="fw-bold">5. Données personnelles : </h3>

        <p>
            Les données personnelles collectées sur le site Kiyomi (nom, prénom, email, mot de passe) sont utilisées uniquement dans le cadre du fonctionnement du site.
        </p>

        <p>
            Aucune donnée n’est cédée à des tiers. Les informations sont stockées de manière sécurisée.
        </p>

        <p class="mb-5">
            Conformément au RGPD, chaque utilisateur peut demander la modification ou la suppression de ses données.
        </p>

        <h3 class="fw-bold">6. Avertissement :</h3>

        <p>
            Kiyomi est un site développé dans un cadre pédagogique dans le cadre du BUT MMI.
        </p>

        <p>
            Les fonctionnalités proposées sont simulées et destinées à démontrer des compétences en développement web, design d’interface et gestion de projet.
        </p>

        <p class="mb-5">
            Aucune commande réelle n’est traitée.
        </p>
    </div>

</div>
