<div class="page-container d-flex flex-column min-vh-100">

  @if(accueil){
  <div class="hero-header" id="ischefImg">

    <nav class="navbar navbar-expand-lg col-12 fixed-top" [class.scrolled]="nav">
      <div class="container-fluid position-relative">

        <!-- bouton burger (mobile) -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNavbar"
          aria-controls="mainNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- LOGO CENTRÉ -->
        <a class="navbar-brand position-absolute start-50 translate-middle-x noUnderline"
           routerLink="app-accueil">
          <img
            src="assets/images/KiyomiLogoBlanc.svg"
            id="logoKiyomi"
            alt="Kiyomi Logo"
            class="logo-float"
          />
        </a>

        <!-- menu -->
        <div class="collapse navbar-collapse" id="mainNavbar">

          <!-- menu gauche -->
          <div class="navbar-nav me-auto mt-3 mt-lg-0 ms-lg-5">
            <a class="nav-link text-light" routerLink="app-accueil"> ACCUEIL </a>
            <a class="nav-link text-light" routerLink="app-menu"> MENUS </a>
            <a class="nav-link text-light" routerLink="app-restaurant"> LE RESTAURANT </a>
          </div>

          <!-- menu droite -->
          <div class="navbar-nav ms-auto mt-3 mt-lg-0 me-lg-5 text-lg-end">
            <a class="nav-link text-light" routerLink="app-panier"> PANIER </a>

            @if(!user){
            <a class="nav-link text-light" routerLink="app-formulaire-co"> ME CONNECTER </a>
            <a class="nav-link text-light" routerLink="app-formulaire-inscription">
              INSCRIPTION
            </a>
            } @else{
            <div class="text-light d-flex align-items-center gap-3 ms-2" *ngIf="user">
              <a routerLink="app-compte-user"
                 class="text-white text-decoration-none">
                {{ user.prenom }} {{ user.nom }}
              </a>
              <button class="btn btn-sm btn-outline-light"
                      (click)="logout()">
                Se déconnecter
              </button>
            </div>
            }
          </div>

        </div>
      </div>
    </nav>

    <div class="ms-1 ms-md-5">
      <!-- INTRODUCTION AU RESTAURANT KIYOMI -->
      <div class="position-relative align-content-center flex-column vh-100 overflow-hidden ms-1 ms-md-5">

        <!-- texte au dessus de l’image -->
        <h1 class="col-12 col-md-4 mt-5 position-relative z-3 text-white amarante">
          L'Art Culinaire Japonais Contemporain
        </h1>

        <p class="text-white ms-5 my-3 col-10 fs-5 position-relative z-3">
          Découvrez nos boxes uniques, alliant tradition et raffinement moderne. 
        </p>
      </div>
    </div>

  </div>
  } @else {

  <!-- SI LA PAGE N'EST PAS L'ACCUEIL (PAS D'IMAGE) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black col-12">
    <div class="container-fluid position-relative">

      <!-- bouton burger (mobile) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- LOGO CENTRÉ -->
      <a class="navbar-brand position-absolute start-50 translate-middle-x noUnderline"
         routerLink="app-accueil">
        <img
          src="assets/images/KiyomiLogoBlanc.svg"
          id="logoKiyomi"
          alt="Kiyomi Logo"
          class="logo-float"
        />
      </a>

      <!-- menu -->
      <div class="collapse navbar-collapse bg-black" id="mainNavbar">

        <!-- menu gauche -->
        <div class="navbar-nav me-auto mt-3 mt-lg-0 ms-lg-5">
          <a class="nav-link text-light" routerLink="app-accueil"> ACCUEIL </a>
          <a class="nav-link text-light" routerLink="app-menu"> MENUS </a>
          <a class="nav-link text-light" routerLink="app-restaurant"> LE RESTAURANT </a>
        </div>

        <!-- menu droite -->
        <div class="navbar-nav ms-auto mt-3 mt-lg-0 me-lg-5 text-lg-end">
          <a class="nav-link text-light" routerLink="app-panier"> PANIER </a>

          @if(!user){
          <a class="nav-link text-light" routerLink="app-formulaire-co"> ME CONNECTER </a>
          <a class="nav-link text-light" routerLink="app-formulaire-inscription">
            INSCRIPTION
          </a>
          } @else{
          <div class="text-light d-flex align-items-center gap-3 ms-2" *ngIf="user">
            <a routerLink="app-compte-user"
               class="text-white text-decoration-none">
              {{ user.prenom }} {{ user.nom }}
            </a>
            <a (click)="logout()" class="btn btn-sm btn-outline-light">
              Se déconnecter
            </a>
          </div>
          }
        </div>

      </div>
    </div>
  </nav>
  }

  <div class="my-5"></div>

  <!-- popup -->
  <app-popup></app-popup>

  <!-- Le contenu des pages va ici -->
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <app-footer></app-footer>
</div>
