<!-- SECTION LISTE DES MENUS -->
<div class="row g-3 mb-5 position-relative z-3 mx-md-5 mx-3 my-5">
  <div class="col-12 text-white">
    @if(!accueil){
    <app-search-bar-filters></app-search-bar-filters>
    }
    <h4 class="mt-5 urbanistt">NOS BOXES PHARES</h4>
    <hr class="col-md-8 mb-md-5 mb-0 col-12" />

    <div class="row mt-0 mt-md-5">
      <!-- FILTRES -->
      <div class="col-md-4 col-12 mb-3 d-flex d-md-block align-items-center">
        <div class="col-6 col-md-12"><app-filtres></app-filtres></div>

        <!--<app-filtres (filterChanged)="applyFilters($event)"></app-filtres>-->

        <div class="col-6 col-md-12 g-3 mb-2 mt-5">
          <app-fild-ariane></app-fild-ariane>
        </div>
      </div>
      <!-- boxes affichées dynamiquement via l'API -->
      <div class="col-md-8 col-12">
        <div class="row g-4">
          @for (box of boxesToShow; track box.id) {
          <div class="col-6 col-md-4 d-flex">
            <div
              class="card card-sushi w-100 bg-card border-0 rounded-0"
              (click)="pageProduit(box.id)"
            >
              <div class="align-self-center">
                <img
                  [src]="
                    box.image
                      ? 'assets/images/' + box.image + '.jpg'
                      : 'assets/images/boxe_default.jpg'
                  "
                  (error)="onImgError($event)"
                  class="card-img-top object-fit-cover border-0 rounded-0"
                />
              </div>

              <div class="card-body d-flex flex-column">
                <h5 class="text-black fw-semibold mb-2 urbanist">{{ box.name | uppercase }}</h5>
                <p class="text-purple mb-0 urbanistt">{{ box.pieces }} PIECES</p>
                <h4 class="mb-3 fs-5 fs-md-4 urbanist">{{ box.price }}€</h4>

                <button
                  type="button"
                  class="btn btn-outline-dark rounded align-self-end"
                  (click)="$event.stopPropagation(); addPanier(box.id)"
                >
                  <i class="bi bi-cart3"></i>
                </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BOUTON RENVOI MENU -->
<div class="row my-5">
  <div class="col text-center">
    @if(this.accueil){
    <div class="btn btn-dark border border-white rounded-0" (click)="renvoiMenu()">
      Explorer le Menu
    </div>
    }
    <!-- BOUTON VOIR PLUS -->
    @else if (!this.accueil &&totalBoxPositive){
    <div class="btn btn-dark border border-white rounded-0" (click)="voirPlus()">Voir plus</div>
    }
  </div>

  <!-- Erreur -->
  <div
    *ngIf="showErrorPopup"
    class="position-fixed top-50 start-50 translate-middle p-4 rounded shadow-lg text-white text-center"
    style="
      background-color: #171517;
      border-left: 5px solid #9c2602;
      z-index: 9999;
      width: 90%;
      max-width: 400px;
      font-family: 'Poppins', sans-serif;
    "
  >
    <div class="d-flex justify-content-center align-items-center mb-2">
      <i
        class="bi bi-exclamation-triangle-fill"
        style="font-size: 1.5rem; color: #9c2602; margin-right: 0.5rem"
      ></i>
      <h5 class="mb-0" style="font-weight: 600">Erreur !</h5>
    </div>
    <p>{{ errorMessage }}</p>
    <button class="btn btn-outline-light px-4 mt-3" (click)="closeErrorPopup()">Fermer</button>
  </div>

  <!-- Succès -->
  <div
    *ngIf="showSuccessPopup"
    class="position-fixed top-50 start-50 translate-middle p-4 rounded shadow-lg text-white text-center"
    style="
      background-color: #171517;
      border-left: 5px solid #9c2602;
      z-index: 9999;
      width: 90%;
      max-width: 400px;
      font-family: 'Poppins', sans-serif;
    "
  >
    <div class="d-flex justify-content-center align-items-center mb-2">
      <i
        class="bi bi-check-circle-fill"
        style="font-size: 1.5rem; color: #9c2602; margin-right: 0.5rem"
      ></i>
      <h5 class="mb-0" style="font-weight: 600">Boxe ajoutée au panier !</h5>
    </div>
    <p>{{ successMessage }}</p>
    <button class="btn btn-outline-light px-4 mt-3" (click)="closeSuccessPopup()">Fermer</button>
  </div>
</div>
