/* You can add global styles to this file, and also import other style files */
body {
  font-family: Playfair Display, serif;
}

/* POLICES */
h1 {
  font-size: 62px;
}

/* NAVBAR */
.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent !important;
  position: fixed !important;
  top: 0;
  z-index: 3000;
  background: transparent;
  height: 80px;
}

/* pour avoir l'icone blanche du toggler */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.hero-header {
  background-image: url('./assets/images/chef_accueil.png');
  background-size: cover; /* prend toute la largeur, proportions respectées */
  background-position: center; /* bien centré */
  background-repeat: no-repeat;
  width: 100%;
  height: 550px; /* ajuste à la hauteur souhaitée */
  position: relative;
}

.logo-float {
  height: 80px;
  width: auto;
}

/* INTITULE DE SECTION */
#menuAccueil {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CARTES MENUS INDIVIDUELS */
 .card-body-grey {
  background-color: #2C252A !important;
}

.text-purple{
  color: #280000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
  .logo-float {
    height: 60px;
  }
}