body {
  font-family: Playfair Display, serif;
}

/* POLICES */
h1 {
  font-size: 62px;
}

/* HR */
hr {
  border: 1px solid white;
}

/* LIENS */
a {
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:not(.noUnderline)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}


/* NAVBAR */
.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent !important;
  position: fixed !important;
  top: 0;
  z-index: 3000;
  height: 80px;
  transition: background-color 0.3s ease;
}

/* pour avoir l'icone blanche du toggler */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.hero-header {
  background-image: url('./assets/images/chef_accueil.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  position: relative;
}

/* NAVBAR - état après scroll */
.navbar.scrolled {
  background-color: black !important;
  transition: background-color 0.3s ease;
}

/* pour que le menu mobile ait aussi un fond noir */
.navbar.scrolled .navbar-collapse {
  background-color: black;
}


.logo-float {
  height: 73px;
  width: auto;
}


/* INTITULE DE SECTION */
#menuAccueil {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CARTES MENUS INDIVIDUELS */
.card-sushi{
  transition: transform 0.3s;
}

.card-sushi:hover {
  transform: translateY(-5px);
}

 .bg-grey {
  background-color: #2C252A !important;
}

/* placeholder couleur blanc */
::placeholder {
  color: white !important;
  opacity: 0.7 !important;
}

/* Texte violet foncé */
.text-purple{
  color: #280000;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  h1 {
    font-size: 42px;
  }
  .logo-float {
    height: 60px;
  }
  /* position bloquee en mobile */
.navbar-brand {
  top: 0;
  position: absolute;
}
  /* Fond noir uniquement sur mobile */
  .navbar-collapse {
    background-color: black;
  }

}