<div class="col-12 gap-2 gap-md-3 text-dark me-5 mt-5 text-center d-flex align-items-center justify-content-end ariane urbanistt" *ngIf="horizontal">
  <a class="text-dark mb-4 text-decoration-none" (click)="renvoi('/')" [class.text-white]="isCurrentPage('/app-produit')">Accueil</a>
  <a class="text-dark mb-4 text-decoration-none" (click)="renvoi('/app-menu')" [class.fw-bold]="isCurrentPage('/app-produit')" [class.text-white]="isCurrentPage('/app-produit')">Menus</a>
  <a class="text-dark mb-4 text-decoration-none" (click)="renvoi('/app-restaurant')" [class.fw-bold]="isCurrentPage('/app-restaurant')" [class.text-white]="isCurrentPage('/app-produit')">Le restaurant</a>
  <a class="text-dark mb-4 text-decoration-none" (click)="renvoi('/app-panier')" [class.fw-bold]="isCurrentPage('/app-panier')" [class.text-white]="isCurrentPage('/app-produit')">Commande</a>
  <a class="text-dark mb-4 text-decoration-none" (click)="user ? renvoi('/app-compte-user') : renvoi('/app-formulaire-co')" [class.fw-bold]="isCurrentPage('/app-formulaire-co') || isCurrentPage('/app-formulaire-inscription') || isCurrentPage('/app-forgot-password') || isCurrentPage('/app-compte-user')" [class.text-white]="isCurrentPage('/app-produit')">Compte</a>
</div>
<div class="col-12 text-white align-content-end ms-2 ariane urbanistt" *ngIf="!horizontal">
  <p>
    <a class="col-12 text-white mb-4 text-decoration-none" (click)="renvoi('/')" [class.fw-bold]="isAccueil()">Accueil</a>
  </p>

  <p>
    <a class="col-12 text-white mb-4 text-decoration-none" (click)="renvoi('/app-menu')" [class.fw-bold]="isCurrentPage('/app-menu')"> Menus </a>
  </p>

  <p>
    <a class="col-12 text-white mb-4 text-decoration-none" (click)="renvoi('/app-restaurant') " [class.fw-bold]="isCurrentPage('/app-mentionslegales') || isCurrentPage('/app-rgpd')">
      Le restaurant
    </a>
  </p>

  <p>
    <a class="col-12 text-white mb-4 text-decoration-none" (click)="renvoi('/app-panier')">
      Commande
    </a>
  </p>

  <p>
    <a class="col-12 text-white mb-4 text-decoration-none" (click)="user ? renvoi('/app-compte-user') : renvoi('/app-formulaire-co')">
      Compte
    </a>
  </p>
</div>
